.metadata/
.project
Unicauca/
Practicas maso/
Practica 1/bin/
Practica 1/.settings/
Practica 2/bin/
Practica 2/.settings/
Practica 3/bin/
Practica 3/.settings/
Practica 4/bin/
Practica 4/.settings/
Practica 5/bin/
Practica 5/.settings/
Practica 6/bin/
Practica 6/.settings/
Practica 7/bin/
Practica 7/.settings/
Practica 8/bin/
Practica 8/.settings/
Practica 9/bin/
Practica 9/.settings/
Practica 10/bin/
Practica 10/.settings/
Practica 11/bin/
Practica 11/.settings/
Practica 12/bin/
Practica 12/.settings/
Practica 13/bin/
Practica 13/.settings/
Practica 14/bin/
Practica 14/.settings/
Practica 15/bin/
Practica 15/.settings/
Practica 16/bin/
Practica 16/.settings/
Practica 17 - Parcial final/bin/
Practica 17 - Parcial final/.settings/
